DEV_ENV=true

CORS_ORIGIN=http://localhost:5173
PORT=3000
DB_FILE_NAME=data/db.sqlite

BETTER_AUTH_BASE_URL=http://localhost:3000
BETTER_AUTH_SECRET=high-entropy-secret
BETTER_AUTH_TRUSTED_ORIGIN=http://localhost:5173