DEV_ENV=true

PORT=3000
DB_FILE_NAME=data/db.sqlite

# backend url
BETTER_AUTH_BASE_URL=http://localhost:3000
# see https://www.better-auth.com/docs/installation#set-environment-variables
BETTER_AUTH_SECRET=high-entropy-secret
# frontend url
BETTER_AUTH_TRUSTED_ORIGIN=http://localhost:5173